
<!DOCTYPE html>
<html>
<head>
<link href="css/style.css" rel="stylesheet">
  <title></title>
</head>
<body>


<div class="wrapper fade-in">
<ion-view hide-nav-bar="true" title="Mobile App"  cache-view="false" id="store-visit-wrapper" hide-tabs>
  <ion-content padding="false" style="background: url(img/img2.png) no-repeat center;background-size:cover;" >
    <div style="background-color:#00B2EE" class="row">
      <div class="col col-20">

        <img style="margin-left:60px;""
   
   src="img/Icon.jpg" width="40" height="40" center>

      </div>
      <div class="col col-50">

       <h4 style="color:white";><strong>LuLu </strong> <strong>International</strong><strong> Exchange </h4></strong>
   
   
      </div>
      <div class="col col-30"  >
      

            <p style="color:white" ng-controller="datCtrl">{{ today | date : "dd MMM y,EEEE" }}
                <br>{{today | date : "hh:mm a"}} </p>
      </div>


      </div>
    <div class="spacer" style="height: 50px;"></div>
    <h4 id="page2-heading4" style="color:black;font-weight:600;font-style:italic;text-align:center;">{{caption}}</h4>
    <div class="spacer" style="height: 50px;"></div>
    <div id="page2-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:black;font-size:19px;">{{openingStatement}}
     
    
      </p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="padding-left:90px" id="page2-markdown22" class="show-list-numbers-and-dots">
      <blockquote>
        <p style="color:black;">{{appFeatures1}}</p>
      </blockquote>
    </div>
    <div style="padding-left:90px" id="page2-markdown26" class="show-list-numbers-and-dots">
      <blockquote>
        <p style="color:black;">{{appFeatures2}}</p>
      </blockquote>
    </div>
    <div style="padding-left:90px" id="page2-markdown25" class="show-list-numbers-and-dots">
      <blockquote>
        <p style="color:black;">{{appFeatures3}}</p>
      </blockquote>
    </div>
    
  </ion-content>

</ion-view>
</div>
</body>
</html>