<div class="wrapper fade-in">
<ion-view hide-nav-bar="true" title="News"   cache-view="false" id="store-visit-wrapper" hide-tabs>
  <ion-content padding="false" style="background: url(img/img4.jpg) no-repeat center;background-size:cover;" >
  <div style="background-color:#00B2EE" class="row">
      <div class="col col-20">

        <img style="margin-left:60px;""
   
   src="img/Icon.jpg" width="40" height="40" center>

      </div>
      <div class="col col-50">

       <h4 style="color:white";><strong>LuLu </strong> <strong>International</strong><strong> Exchange </h4></strong>
   
   
      </div>
      <div class="col col-30"  >
      

            <p style="color:white" ng-controller="datCtrl">{{ today | date : "dd MMM y,EEEE" }}
                <br>{{today | date : "hh:mm a"}} </p>
      </div>


      </div>
    <ion-list id="page3-list31">
      
      <ion-item style="color:black;text-align:center"> LATEST FROM OUR NEWS ROOM</ion-item>
    </ion-list> 

   <div style="position:relative;"> 

    <img src="img/img3.jpg" style="position:relative;width:1260px;padding-top:25px;padding-left:25px;padding-right:25px;padding-bottom:25px">
     <div style="background-color: white;position:absolute; width:1179px;top:40px;left:40px;right:20px; bottom:40px;padding-left:10px;padding-top:10px;padding-right:10px;
     ;padding-bottom:10px;z-index:5;" class="row" >
          <div class="col col-50">

            <img width=100% height="100%" src="img/news.jpg">
           
          </div>
          <div class="col"> 
          <br>
          <br>
          <br>
          <br>
          <br>
              {{myWelcome}}
           </div>
          
    </div>
     

   </div>
 
    </div>
  </ion-content>

</ion-view>
</div>