<!DOCTYPE html>
<html>
<head>
<link href="css/style.css" rel="stylesheet">


</head>
<body>





<div class="wrapper fade-in">
<ion-view hide-nav-bar="true" title="Home" style="background-color:#00B2EE  ;" >
 
 
  <!-- where the initial view template will be rendered -->
  <ion-nav-view animation="slide-left-right">
    <ion-view  cache-view="false" id="store-visit-wrapper" hide-tabs>
      <ion-content ng-controller="BranchCtrl" padding="false" style="background-size:cover;"> 
      <ion-list style="background-image: url(img/img4.jpg)">
      <div style="background-color:#00B2EE" class="row">
      <div class="col col-20">

        <img style="margin-left:60px;""
   
   src="img/Icon.jpg" width="40" height="40" center>

      </div>
      <div class="col col-50">

       <h4 style="color:white";><strong>LuLu </strong> <strong>International</strong><strong> Exchange </h4></strong>
   
   
      </div>
      <div class="col col-30"  >
      

            <p style="color:white" ng-controller="datCtrl">{{ today | date : "dd MMM y,EEEE" }}
                <br>{{today | date : "hh:mm a"}} </p>
      </div>


      </div>
        <ion-item> Branches</ion-item>
        

        <ion-item ng-controller="BranchCtrl">
            <button class="button icon-right ion-chevron-right button-positive button-small"  ng-click ="hamdanList()" >Hamdan</button> <br>
            <div ng-show="showMe">
           

           
               <ion-list>
                <ion-item ng-repeat="item in items.text"  ><a href="#/tab/{{item}}"> {{item}}</a>

               </ion-item>
               </ion-list>      
                
                 
            </div>
         </ion-item>
         
         <ion-item ng-controller="BranchCtrl">
           
           <button class="button icon-right ion-chevron-right button-positive button-small" ng-click="wahdaList()">Al Wahda</button>
           <div ng-show="showMe1">
                <ion-list>
                <ion-item ng-repeat="item1 in items1.text" ng-click= ><a href="#/tab/{{item1}}"> {{item1}}</a>

               </ion-item>
               </ion-list>   
            </div>
         </ion-item>
      </ion-list>
     
</ion-content>
   
  </ion-nav-view>
   </ion-view>
  </div>
  </body>
  </html>

