<div class="wrapper fade-in">
<ion-view hide-nav-bar="true" title="On Social Media" id="page5"  cache-view="false" id="store-visit-wrapper" hide-tabs>
  <ion-content padding="false" style="background: url(img/img3.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding ">
    <div></div>
    <!--<ion-list >
       <ion-item style="background-color:#00B2EE" class="item-avatar stable  heading" id="page3-list-item24">

        <img src="img/Icon.jpg">
        <h2 style="color:white";><strong>LuLu </strong><br> <strong>International</strong><br><strong> Exchange </h2></strong>
      </ion-item>
    </ion-list>-->
    <div style="background-color:#00B2EE" class="row">
      <div class="col col-20">

        <img style="margin-left:60px;""
   
   src="img/Icon.jpg" width="40" height="40" center>

      </div>
      <div class="col col-50">

       <h4 style="color:white";><strong>LuLu </strong> <strong>International</strong><strong> Exchange </h4></strong>
   
   
      </div>
      <div class="col col-30"  >
      

            <p style="color:white" ng-controller="datCtrl">{{ today | date : "dd MMM y,EEEE" }}
                <br>{{today | date : "hh:mm a"}} </p>
      </div>


      </div>
  
 <div class="spacer" style="height: 30px;"></div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="insta-slider3" style="width:1150px;height:200px;padding-left: 100px">
      <ion-slide-page id="insta-slide216" style="background:url(img/banner3.jpg) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      
      <ion-slide-page  style="background:url(img/banner5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page  style="background:url(img/img4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page  style="background:url(img/img6.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page  style="background:url(img/7years-lulu.png) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>

    <div class="spacer" style="height: 30px;"></div> 

    <h2  style="color:#FFFFFF;font-style:italic;text-align:center;"> {{caption}}</h2>
    <div id="insta-button-bar4" class="button-bar"></div>
    <div id="insta-markdown30" style="text-align:center;" class="show-list-numbers-and-dots">
     
    </div>
    <div id="insta-markdown31" style="text-align:center;" class="show-list-numbers-and-dots">
      <h3 style="color:#FFFFFF;font-weight:300;">{{socialMediaText}}</h3>
    </div>
   
    <div class="row">
      <div class="col col-35">

        <img style="margin-left:60px;
   
   " ng-src="{{icon0}}" width="70" height="70" center>

      </div>
      <div class="col col-35">

        <img style="margin-left:60px;
   
   "  ng-src="{{icon1}}" width="80" height="80" center>
      </div>
      <div class="col col-30">
        <img style="margin-left:60px;
   
   " ng-src="{{icon2}}" width="80" height="80" center>
      </div>
    </div>
  </ion-content>

</ion-view>
 </div>